/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
.idea/*

.github/*
tests/*
coverage/*

docs/*
src/*
tsup.config.ts
tsconfig.json
.prettierrc.js
release.config.js
